
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            User List
                            <small>Multikart Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Users</li>
                        <li class="breadcrumb-item active">User List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
              
                <div class="btn-popup pull-right" style="float: right;">
                    <a href="create-user.html" class="btn btn-secondary">انشاء مستخدم</a>
                </div>
            </div>
        
                <div id="batchDelete" class="category-table user-list order-table jsgrid">
                    <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                        <table class="jsgrid-table">
                            <thead>
                                <tr class="jsgrid-header-row">

                                    <th class="jsgrid-header-cell jsgrid-align-center" style="width: 50px;">الصورة</th>
                                    <th class="jsgrid-header-cell" style="width: 200px;">الاسم</th>
                                    <th class="jsgrid-header-cell" style="width: 150px;">العائلة</th>
                                    <th class="jsgrid-header-cell" style="width: 200px;">الايميل</th>
                                    <th class="jsgrid-header-cell" style="width: 150px;">اخر تسجيل دخول</th>
                                    <th class="jsgrid-header-cell" style="width: 150px;">الادوار</th>
                                <th class="jsgrid-header-cell" style="width: 100px;">الحذف</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="jsgrid-row">
                              
                                    <td class="jsgrid-cell jsgrid-align-center">
                                        <img src="~/admin/images/dashboard/user5.jpg" style="height: 50px; width: 50px;">
                                    </td>
                                    <td class="jsgrid-cell">Rowan</td>
                                    <td class="jsgrid-cell">Torres</td>
                                    <td class="jsgrid-cell">Rowan.torres@gmail.com</td>
                                    <td class="jsgrid-cell">6 Days ago</td>
                                    <td class="jsgrid-cell">Customer</td>
                                <td class="jsgrid-header-cell " style="width: 100px;">
                                    <button type="button" class="btn btn-danger btn-sm btn-delete mb-0 b-r-3">احذف</button>
                                </td>
                                </tr>
                              
                                
                                
                                
                                <tr class="jsgrid-row">
                                    <td class="jsgrid-cell jsgrid-align-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="jsgrid-cell jsgrid-align-center">
                                        <img src="~/admin/images/dashboard/user5.jpg" style="height: 50px; width: 50px;">
                                    </td>
                                    <td class="jsgrid-cell">Rowan</td>
                                    <td class="jsgrid-cell">Torres</td>
                                    <td class="jsgrid-cell">Rowan.torres@gmail.com</td>
                                    <td class="jsgrid-cell">6 Days ago</td>
                                    <td class="jsgrid-cell">Customer</td>
                                </tr>
                                <tr class="jsgrid-row">
                                    <td class="jsgrid-cell jsgrid-align-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="jsgrid-cell jsgrid-align-center">
                                        <img src="~/admin/images/dashboard/user5.jpg" style="height: 50px; width: 50px;">
                                    </td>
                                    <td class="jsgrid-cell">Rowan</td>
                                    <td class="jsgrid-cell">Torres</td>
                                    <td class="jsgrid-cell">Rowan.torres@gmail.com</td>
                                    <td class="jsgrid-cell">6 Days ago</td>
                                    <td class="jsgrid-cell">Customer</td>
                                </tr>
                                <tr class="jsgrid-row">
                                    <td class="jsgrid-cell jsgrid-align-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="jsgrid-cell jsgrid-align-center">
                                        <img src="~/admin/images/dashboard/user5.jpg" style="height: 50px; width: 50px;">
                                    </td>
                                    <td class="jsgrid-cell">Rowan</td>
                                    <td class="jsgrid-cell">Torres</td>
                                    <td class="jsgrid-cell">Rowan.torres@gmail.com</td>
                                    <td class="jsgrid-cell">6 Days ago</td>
                                    <td class="jsgrid-cell">Customer</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Container-fluid Ends-->
